.wrapper {
  background-color: var(--zinc-950);
  border-radius: var(--rounded-md);
  border: 1px solid var(--zinc-800);
  padding: 0.5rem;
}

.heading {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
