.listitem {
  background-color: var(--zinc-900);
  border-radius: 0.25rem;
  padding: 0.5rem 0.25rem;
  list-style: none;
  display: flex;
  gap: 0.2rem;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 100%;
  background-color: var(--zinc-900);
  border: 0;
  color: var(--zinc-100);
  padding: 0.25rem;
}

.input:focus-visible {
  outline: 1px solid var(--zinc-400);
  border-radius: var(--rounded-xs);
}

.button {
  cursor: move;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--zinc-400);
}

.button:focus-visible {
  outline: 1px solid var(--zinc-400);
  border-radius: var(--rounded-xs);
}
